body {
  background-color: rgb(110, 125, 117);
  color: aliceblue;

}
header {
  background-color: rgb(166, 211, 169);
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.newthled {
  display: inline-block;
  width: 300px;
  padding: 10px;
  height: 4em;
}